<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <title>Go Calculator</title>
</head>
<body>
<div class="container">
    <main>
        <h1>Go Calculator</h1>
        {{if .Res}}
        <div class="alert alert-warning" role="alert">
            The answer is <strong>{{.Res}}</strong>
        </div>
        {{end}}
        <form method="POST">

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="input1">First number</label>
                <div class="col-sm-10">
                    <input class="form-control" id="input1" name="input1" type="text">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="input2">Second number</label>
                <div class="col-sm-10">
                    <input class="form-control" id="input2" name="input2" type="text">
                </div>
            </div>
            <fieldset class="row mb-3">
                <legend class="col-form-label col-sm-2 pt-0">Operation</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input checked class="form-check-input" id="gridRadios1" name="ope" type="radio"
                               value="Multiply">
                        <label class="form-check-label" for="gridRadios1">
                            *
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="gridRadios2" name="ope" type="radio" value="Divide">
                        <label class="form-check-label" for="gridRadios2">
                            /
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="gridRadios3" name="ope" type="radio" value="Subtract">
                        <label class="form-check-label" for="gridRadios3">
                            -
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="gridRadios4" name="ope" type="radio" value="Add">
                        <label class="form-check-label" for="gridRadios4">
                            +
                        </label>
                    </div>


                </div>
            </fieldset>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>

    </main>
</div>
<!-- Optional JavaScript; choose one of the two! -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
</body>
</html>